.sidebar {
    min-width: 100px;
    height: 90vh;
    background-color: #161d2f;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar ul {
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
