body {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.App {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #10141f;
    padding-top: 1rem;
    padding-left: 1.5rem;
    min-height: 100vh;
}

.main-content {
    margin-left: 40px;
}